<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ligma">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pilsner"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pilsner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GUI.TheGame"></activity>
        <activity android:name=".GUI.Rules" />
        <activity android:name=".GUI.PlayerSelection"/>
        <activity android:name=".GUI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>